.footer .location {
    margin: 100px;
}

.footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background: #363636;
}

.footer > * {
    flex: 1 100%;
}

.footer_left img {
    width: 50%;
}

.footer h2 {
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer_right {
    display: -webkite-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}

.footer_right > * {
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a {
    color: rgb(255, 255, 255);
}

.box a:hover {
    color: #ff0114;
}

.footer_btn {
    text-align: center;
    color: rgba(0, 0, 0, 0.548);
    padding-top: 50px;
}

.footer_left p {
    padding-right: 20%;
    margin: 10px 0;
}

.socials a {
    background:#ff0114;
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 7px;
    border-radius: 50%;
}

.socials a i {
    color: rgb(255, 255, 255);
    padding: 8px 9px;
    font-size: 25px;
}

.socials :hover {
   transform: scale(1.1);
   transition: 0.7s;
}

@media screen and (min-width: 600px) {
    .footer_right > * {
        flex: 1;
    }
    .footer_left {
        flex: 1 0px;
    }
    .footer_right {
        flex: 2 0px;
    }
}

@media (max-width: 600px) {
    .footer {
        padding: 15px;
    }
}