
.product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    background: #dfe6e9;
}

.product > section {
    padding: 10px;
    margin: 7em 0 1em 0;
}

.product img {
    width: 103%;
}

.details {
    background: #dfe6e9;
}

.product h1 {
    background: #363636;
    color: white;
    font-size: 3em;
    text-align: center;
    margin: 10px;
}

.product .btn_order {
    background: #ff0114;
    border: none;
    text-align: center;
    width: 100%;
    font-size: 2em;
    color: white;
    cursor: pointer;
}

.product .btn_order:hover {
    background: #363636;
    transition: 0.3s;
}
.product li {
    list-style-type: disc;
    margin-left: 8px;
}

.product .ingredients {
    margin: 10px 0 42px 10px;
}

.product  p {
    margin-top: 15px;
}